<!DOCTYPE html>
<html lang="en">
<head>
  <#include "/common/head.html" />
</head>
<body>

<div id="wrapper">
  <#include "/common/headmenu.html" />
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">标题</h1>

          <!-- 内容在这里-->



        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<#include "/common/foot.html" />
</body>
</html>
